*{
	padding: 0;
	margin: 0;
	}
body{
	background-color: black;
	}
.bg{
	background-image: url("img/united.jpg");
	opacity: 0.4; 
	position: absolute; 
	background-position: center; 
	height: 100%; width: 100%; 
	position: fixed;
	background-size: cover;
	background-color: white;
}
#header{
	padding: 0;
	margin: 0;
	position: fixed;
	font-size: 20px;
	width: 100%;
	height: 102px;
	background-color: white;
	color: #082340;
	text-align: center;
	z-index: 10;
	}
#menu-bar{
	position: fixed;
	width: 100%;
	height: 45px;
	top: 102px;
	background-color: #F17A7E;
	z-index: 10;
	}
.menu-btn{
	width: 20%;
	height: 50px;
	font-size: 20px;
	position: relative;
	top: 13px;
	float: left;
	text-align: center;
	color: white;
	text-decoration: none;
	font-weight: bold;
	}
.menu-btn-1{
	width: 20%;
	height: 50px;
	font-size: 20px;
	position: relative;
	top: 13px;
	float: left;
	text-align: center;
	color: white;
	position: relative;
	display: inline-block;
	font-weight: bold;
	z-index: 10;
	}

.content{
	display: none;
	max-width: 200px;
	padding: 10px 0px 20px 20px;
	color: white;
	position: relative;
	left: 30%;
	text-align: left;
	background-color: mediumseagreen;
        border-radius: 10%;
	}
.menu-btn-1:hover .content{
	display: block;
	color: black;
	}
h1{
	position: relative;
	top: 30px;
	}
a{
	text-decoration: none;
	color: white;
	}
.drop{
	color: white;
	text-align: center;
	line-height: 30px;
	}
.ugi{
	position: relative; 
	height: 100px; 
	width: 200px;
	left: 35%;  
	bottom: 93px; 
	margin:0;
	}
.logo{
	position: relative; 
	height: 150px; 
	width: 200px;
	right: 35%; 
	bottom: 60px; 
	}
.sec{
    float: left;
    color: white;
    margin: 60px 0px;
    width: 50%;
}
.title{
    font-size: 40px;
    font-weight: bold;
    width: 70%;
    text-align: center;
    position: sticky;
    top: 160px;
    left: 40%;
    color: white;
    background-color: #db6569;
    z-index: 5;
    
}
.que{
    width: 88%;
    font-size: 25px;
    position: relative;
    top: 150px;
    
    margin: 30px 35px;
    color: black;
    background-color: #93f1e8c9;
    padding: 15px 0px 15px 20px;
    font-weight: bold;
    border: 2px solid green;
    list-style: none;
}
